<html>
    <head>
        <title>--- Cam ---</title>
        <link rel="stylesheet" href="/css/data.css" />
    </head>
    <body>

        <div>
            <input type="text" id="msgInput" placeholder="Message..." />
            <button id="btnStream">Stream Start</button>
            <button id="btnReconnect" style='display:none'>Reconnect</button>
            <button id="btnRefresh">Refresh</button>
        </div>
        <div>
            <input type="file" id="fileTransfer" />
            <button id="btnFileTranster">Transfer</button>
        </div>

        <div id="divFiles">
        </div>
        <div id="divChat">
        </div>
        <div id="divAudio">
        </div>
        <div id="divVideo">
        </div>

        <script type="text/javascript">
            var initRoomId = '<%= roomId %>';
            var initUser = '<%= user %>';
        </script>

        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/socket.io-client/socket.io.js"></script>
        <script src="/bower_components/webrtc-adapter/adapter.js"></script>

        <script src="/lib/getScreenId.js"></script>
        <script src="/js/common.js"></script>
        <script src="/js/cam/peer.js"></script>
        <script src="/js/cam/socket.js"></script>
        <script src="/js/cam/view.js"></script>
        <script src="/js/cam/file.js"></script>

    </body>
</html>
